.cart {
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart:hover {
    padding: 3px;
    background-color: red;
    border: 1px solid rgba(0, 0, 0, 0.53);
    border-radius: 15px;
}

.numProductos {
    font-weight: 500;
    color: black;
    text-decoration:underline rgb(255, 0, 0);
}
