.divMain{
    background-color:black;
}

.carouselText{
    font-weight: 800;
    background-color: crimson;
    text-align: center;
    width: fit-content;
    padding: 7px;
    border-radius: 1rem;
}

.imgCarousel {
    height: 100%;
}


.textPosition {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.stars{
    display: flex;
    justify-content: center;
    margin: 0;
    padding-top:1rem;
}