.sliderB{
    margin-top: 20px;
}

.bg-txt{    
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.764);
}
