.navbar {
    flex-wrap: wrap;
    width: 100vw;
    background-color: red;
    align-items: center;
}
.tituloNav {
    color: white;
    font-weight: 600;
    font-size: larger;
    text-decoration: underline white;
}

.links {
    font-weight: 400;
    color: black;
    font-size: medium;
    height: fit-content;
    padding: 3px;
}

.logoutDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(238, 255, 5);
    padding: 3px;
    border-radius: 15px;
}

.logoutBtn {
    height: min-content;
    width: fit-content;
    padding: 2px;
}

.user {
    font-size: medium;
    font-weight: 600;
    margin: 1px 2px 1px 2px;
}

.btnBox{
    align-items: center;
}