.navbar {
    flex-wrap: wrap;
    width: 100vw;
    background-color: red;
}
.tituloNav {
    color: white;
    font-weight: 600;
    font-size: larger;
    text-decoration: underline white;
}

.links {
    font-weight: 400;
    color: white;
    font-size: medium;
}