.itemListCont{
    padding: 2rem;
    background-color:rgba(255, 34, 0, 0.795);
    height:100%;

}

.title {
    text-align: center;
}

.itemListCont{
    display: flex;
    justify-content: center;
}